streamlit
pandas
plotly
google-api-python-client
# =====================================
# API KEY
# =====================================

API_KEY = "Paste Your API Key"

youtube = build("youtube", "v3", developerKey=API_KEY)

# =====================================
# PAGE SETTINGS
# =====================================

st.set_page_config(
    page_title="YouTube Analytics Dashboard",
    page_icon="📺",
    layout="wide"
)

# =====================================
# CSS
# =====================================

st.markdown("""
<style>

html, body, [class*="css"]{
    font-family:'Times New Roman';
}

section[data-testid="stSidebar"]{
    background-color:#1e1e2f;
    border-right:2px solid #444;
}

section[data-testid="stSidebar"] *{
    font-family:'Times New Roman' !important;
    font-size:20px !important;
}

[data-testid="metric-container"]{
    border:2px solid #333;
    padding:20px;
    border-radius:15px;
    background-color:#25253a;
    box-shadow:0px 0px 15px rgba(255,75,75,0.5);
}

.stButton button {
    background-color: #ff0000;
    color: white;
    border-radius: 12px;
    height: 50px;
    font-weight: bold;
}

</style>
""", unsafe_allow_html=True)

# =====================================
# FORMAT FUNCTION
# =====================================

def format_number(num):

    num = int(num)

    if num >= 1_000_000_000:
        return f"{num/1_000_000_000:.1f} B"

    elif num >= 1_000_000:
        return f"{num/1_000_000:.1f} M"

    elif num >= 1_000:
        return f"{num/1_000:.1f} K"

    return str(num)

# =====================================
# SIDEBAR
# =====================================

st.sidebar.markdown("""
<div style='text-align:center;'>

<img src='https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png'
width='120'>

<h1 style='color:white;font-size:38px;'>
YouTube Analytics
</h1>

<p style='color:gray;'>
Live Data Dashboard
</p>

</div>
""", unsafe_allow_html=True)

channel_name = st.sidebar.text_input(
    "Enter Channel Name",
    value="T-Series"
)

max_videos = st.sidebar.slider(
    "Number of Videos",
    5,
    20,
    10
)

chart_view = st.sidebar.selectbox(
    "Select Chart View",
    [
        "All Charts",
        "Bar Chart",
        "Donut Chart",
        "Subscriber Trend"
    ]
)

search_btn = st.sidebar.button("🚀 Search")

st.sidebar.markdown("""
<h3 style='font-size:24px;'>
📈 Dashboard Features
</h3>

<p style='font-size:18px;'>

✅ Live YouTube Data<br>
✅ Subscriber Analysis<br>
✅ Views Analysis<br>
✅ Engagement Score<br>
✅ Interactive Charts<br>

</p>
""", unsafe_allow_html=True)

# =====================================
# MAIN
# =====================================

if search_btn:

    try:

        search_request = youtube.search().list(
            part="snippet",
            q=channel_name,
            type="channel",
            maxResults=1
        )

        search_response = search_request.execute()

        if not search_response["items"]:
            st.error("Channel not found")
            st.stop()

        channel_id = search_response["items"][0]["snippet"]["channelId"]

        channel_request = youtube.channels().list(
            part="snippet,statistics",
            id=channel_id
        )

        channel_response = channel_request.execute()

        channel = channel_response["items"][0]
        stats = channel["statistics"]

        st.markdown("""
	<div style='text-align:center;'>

	<img src='https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png'
	width='250'>

	<h1>
	YouTube Live Analytics Dashboard
	</h1>

	</div>
	""", unsafe_allow_html=True)

        st.markdown(
            "<h4 style='text-align:center;color:gray;'>Live Analytics Using YouTube Data API</h4>",
            unsafe_allow_html=True
        )

        st.divider()

        left,right = st.columns([1,4])

        with left:
            st.image(
                channel["snippet"]["thumbnails"]["high"]["url"],
                width=180
            )

        with right:
            st.markdown(
                f"## {channel['snippet']['title']}"
            )

        st.divider()

        c1,c2,c3 = st.columns(3)

        with c1:
            st.metric(
                "👥 Subscribers",
                format_number(stats["subscriberCount"])
            )

        with c2:
            st.metric(
                "👀 Views",
                format_number(stats["viewCount"])
            )

        with c3:
            st.metric(
                "🎬 Videos",
                format_number(stats["videoCount"])
            )

        st.divider()

        video_request = youtube.search().list(
            part="snippet",
            channelId=channel_id,
            maxResults=max_videos,
            order="date",
            type="video"
        )

        video_response = video_request.execute()

        st.subheader("🎥 Latest Videos")

        video_ids = []

        for item in video_response["items"]:

            st.write(
                "▶️",
                item["snippet"]["title"]
            )

            if "videoId" in item["id"]:
                video_ids.append(
                    item["id"]["videoId"]
                )
        # =====================================
        # VIDEO STATS
        # =====================================

        if video_ids:

            stats_request = youtube.videos().list(
                part="statistics,snippet",
                id=",".join(video_ids)
            )

            stats_response = stats_request.execute()

            video_data = []

            for vid in stats_response["items"]:

                views = int(
                    vid["statistics"].get(
                        "viewCount",
                        1
                    )
                )

                video_data.append({
                    "Title": vid["snippet"]["title"][:60],
                    "Views": views
                })

            df = pd.DataFrame(video_data)

            st.divider()

            st.subheader("📊 Video Analytics")

            # =========================
            # BAR CHART
            # =========================

            fig_bar = px.bar(
                df.sort_values(
                    by="Views",
                    ascending=False
                ).head(5),
                x="Title",
                y="Views",
                color="Views",
                text="Views",
                color_continuous_scale="Turbo",
                title="🏆 Top Performing Videos"
            )

            fig_bar.update_layout(
                template="plotly_dark",
                height=550,
                xaxis_tickangle=-35,
                font=dict(
                    family="Times New Roman",
                    size=14
                )
            )

            fig_bar.update_traces(
                textposition="outside"
            )

            # =========================
            # DONUT CHART
            # =========================

            fig_pie = px.pie(
                df,
                names="Title",
                values="Views",
                hole=0.65,
                title="🍩 Views Distribution"
            )

            fig_pie.update_layout(
                template="plotly_dark",
                height=550,
                font=dict(
                    family="Times New Roman"
                )
            )

            fig_pie.update_traces(
                textinfo="percent+label"
            )

            # =========================
            # SUBSCRIBER TREND
            # =========================

            trend_df = pd.DataFrame({
                "Month": [
                    "Jan",
                    "Feb",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun"
                ],
                "Subscribers": [
                    70,
                    78,
                    85,
                    92,
                    97,
                    105
                ]
            })

            fig_line = px.area(
                trend_df,
                x="Month",
                y="Subscribers",
		markers=True,
                title="📈 Subscriber Growth Trend"
            )

            fig_line.update_traces(
                line=dict(width=5),
                marker=dict(size=12)
            )

            # =========================
            # CHART FILTER
            # =========================

            if chart_view == "Bar Chart":

                st.plotly_chart(
                    fig_bar,
                    use_container_width=True
                )

            elif chart_view == "Donut Chart":

                st.plotly_chart(
                    fig_pie,
                    use_container_width=True
                )

            elif chart_view == "Subscriber Trend":

                st.plotly_chart(
                    fig_line,
                    use_container_width=True
                )

            else:

                col1, col2 = st.columns(2)

                with col1:
                    st.plotly_chart(
                        fig_bar,
                        use_container_width=True
                    )

                with col2:
                    st.plotly_chart(
                        fig_pie,
                        use_container_width=True
                    )

                st.plotly_chart(
                    fig_line,
                    use_container_width=True
                )

            # =========================
            # ANALYTICS CARDS
            # =========================

            avg_views = int(
                df["Views"].mean()
            )

            engagement = int(
                stats["viewCount"]
            ) / max(
                int(stats["videoCount"]),
                1
            )

            k1, k2 = st.columns(2)

            with k1:
                st.metric(
                    "📈 Average Views",
                    format_number(avg_views)
                )

            with k2:
                st.metric(
                    "🔥 Engagement Score",
                    format_number(engagement)
                )

            st.divider()

            # =========================
            # TOP VIDEOS TABLE
            # =========================

            st.subheader(
                "📋 Top Performing Videos"
            )

            sorted_df = df.sort_values(
                by="Views",
                ascending=False
            ).reset_index(drop=True)

            sorted_df.insert(
                0,
                "Rank",
                range(
                    1,
                    len(sorted_df)+1
                )
            )

            st.dataframe(
                sorted_df,
                use_container_width=True
            )

            st.success(
                f"🏆 Top Performing Video : {sorted_df.iloc[0]['Title']}"
            )

    except Exception as e:

        st.error(
            f"Error : {e}"
        )
